footer {
    text-align: left;
    padding: 16px 48px;
}

.background-midnight {
    background: #263238;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.text-caption{
    margin: 0 0 16px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.styleguide-trigger {
    color: #5C707A;
    text-decoration: none;
    float: right;
    -webkit-transition: color .3s;
    transition: color .3s;
}