<div *ngIf="artista">
    <h2 class="background-sky animated fadeIn fast">{{ artista.name }}<br>
    <small>{{ artista.type }} | Popularidad: {{ artista?.popularity }}</small></h2>
    
    <div class="container animated fadeIn">
      <div class="row">
        <div class="col-md-5">
          
          <img class="img-circle img-responsive img-thumbnail" [src]="artista.images | sinfoto">
          <div class="martop">
            <a class="btn btn-spotify" [href]="artista.external_urls.spotify" role="button">View  on  <i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
            <a class="btn btn-danger" [routerLink]="['/music']" role="button">Regresar</a>
          </div>
        </div>
        <div class="col-md-7 martop">
        
          <div class="alert alert-spotify alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Para para poder escuchar las Canciones nesecita tener instalado Spotify en su computadora.
        </div>
          <div *ngIf="songs" class="martop">
            <h4>Top Songs</h4>
            <div *ngFor="let song of songs;let i = index;">
              <div *ngIf="song.uri">
   
                <iframe  [src]="song.uri | domseguro:'https://open.spotify.com/embed?uri='" class="embed-responsive" 
                  height="100" frameborder="0" allowtransparency="true"></iframe>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--
        <div class="row">
              
              <div class="col-md-12">

                <div class="table-responsive">
                  <table class="table table-inverse table-hover">
                    <thead>
                    
                      <tr>
                        <th>/</th>
                        <th>Foto</th>
                        <th>Cancion</th>
                        <th>Popularidad</th>
                        <th>Preview</th>

                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let song of songs;let i = index;">
                        <th>{{ i + 1 }}</th>
                        <th><img [src]="song.albun?.images | sinfoto" class="img-fluid"></th>
                        <th>{{ song.name }}</th>
                        <th>{{ song.popularity }}</th>
                        <th>
                          <audio controls>
                            <source [src]="song.preview_url">

                          </audio>
                        </th>
                      </tr>


                    </tbody>
                  </table>
                </div>

              </div>

            </div>
      -->
    </div>
</div>
<app-footer></app-footer>
